.rowEven,
.rowOdd {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 100%;
}

.rowEven {
  background-color: #edf4ff;
}

.loading {
  display: flex;
  padding: 20px;
  justify-content: center;
}
